<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>model</title>
</head>

<body>
    <section class="section-banner">
        <div class="container">
        </div>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>

</html>
