<%- include('includes/header') %>

    <section class="section-banner">
        <div class="container">
            <h1>
                <%= title %>
            </h1>
        </div>
    </section>
    
<%- include('includes/footer') %>