@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap');

:root{
    --dark-mode: #606060;
    --light-mode: #fff;
    --buttons: #404040;
    --buttons-hover: #303030;
    --box-shadow: #404040;
}
*
{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
   background: var(--dark-mode);
}
.container{
    max-width: 600px;
    margin: 9% auto;
    background: var(--light-mode);
    padding: 20px;
    box-shadow: 10px 10px 10px var(--box-shadow);

}
.container h1{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}
.container p{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}
form input, form label{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input:focus{
    outline: 1px solid red;
}
.container .btn{
    border: none;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--buttons);
    cursor: pointer;
    height:23px;
    margin-top: 30px;
    align-items: center;
    border-radius: 10px;
    width: 100px;
}
.container .btn:hover{
    background-color: var(--buttons-hover);
}