<%- include('includes/header') %>
<section class="error">
    <div class="banner">
        <div class="container">
            <h1>CSRF token access filed.</h1>
        </div>
    </div>
</section>
<%- include('includes/footer') %>