@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Poppins:wght@100;200;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Nunito:wght@200;400;500;600;800;900&family=Poppins:wght@100;200;400;500;700;900&display=swap');

:root {
    --text: #ACC500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

header .logo {
    position: relative;
    display: inline-block;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: var(--text);
    font-weight: 500;
    font-size: 18px;
    margin-left: 15px;
    display: inline-block;
    padding: 5px 12px;
    text-decoration: none;
    user-select: none;
}

header ul li a.active,
header ul li a:hover
{
    background: #303030;
    font-weight: 500;
    border-radius: 35px;
    transition: 0.5s;
}

.content {
    position: relative;
    display: flex;
}

.content .textBox {
    position: relative;
    max-width: 550px;
}

.content .textBox h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 3.3em;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-weight: 900;
    color: #ACC500;
}

.content .textBox span {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    letter-spacing: 10px;
    font-weight: 800;
}

.content .textBox p {
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-size: 18px;
    color: #454545;
}

.content .textBox a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    background: #303030;
    border-radius: 10px;
    text-decoration: none;
    color: #ACC500;
    transition: 0.3s ease-out;
}

.content .textBox a:hover {
    background: #ACC500;
    color: #303030;
}